/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#F0EFEE;
}
/*-----login----*/
.

/*---start-wrap----*/
.wrap{
	width:80% !important; 
	margin:10px !important;
}
.login_wrap{
	width:10%;
	margin:0 auto;
}
/*---start-header----*/
.header{
	background:url(../images/border.png) repeat-x 0px 0px #FFF;
	padding: 1.5em 0 1.2em;
	border-bottom: 1px solid rgba(214, 213, 212, 0.64);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}
.logo{
	float:left;
	margin-left: 10%;
}
.logo img{
	display:inline-block;
}
.login_logo{
	float:left;
	width:100%;
}
.nav-icon{
	float: left;
	margin: 0.6% 2% 0 8%;
	width: 4.55%;
}
.nav-icon a span{
	width:48px;
	height:34px;
	display:block;
	background:url(../images/nav-icon.png) no-repeat 0px 0px;
}
.top-searchbar {
	float: left;
	width: 35%;
	position: relative;
	margin-left: 2em;
}
.top-searchbar input[type="text"], .top-searchbar select{
	margin-top: 0.55em;
	padding: 0.58em 1em;
	border: 1px solid #E7E7E7;
	transition: border-color 0.3s all;
	-webkit-transition: border-color 0.3s all;
	-moz-transition: border-color 0.3s all;
	-o-transition: border-color 0.3s all;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
	color:#777;
	position:relative;
    border-left: none !important;
}
.top-searchbar input[type="text"]{
	width: 100%;
	background:#F7F6F6;
	left:24%;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.top-searchbar input[type="text"]:hover{
	border:1px solid #DDDDDD;
}
.top-searchbar input[type="submit"]{
	position: absolute;
	background: url(../search-icon.png) no-repeat 0px 0px;
	height: 26px;
	width: 26px;
	display: inline-block;
	border: none;
	top: 12px;
	right: -62%;
	outline:none;
	cursor:pointer;
}
.top-searchbar .searchbar_text{
	margin-left:40%;
}
.top-searchbar select{
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	position:absolute !important;
	width: 30%;
	left: 34%;
	height: 36px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-left: 1px solid #e6e6e6 !important;
    border-right: none !important;
}
.top-searchbar select option{
}
#loginForm, #login_success, #signup_success{
	width:30%;
	margin:0 auto;
}
.login_success_text{
	width:100%;
	font-family: 'Open Sans', sans-serif;
	color:#363636;
	font-size:50px;
	position:relative;
	text-align:center
}
.login_fail_text{
	width:100%;
	font-family: 'Open Sans', sans-serif;
	color:#363636;
	font-size:40px;
	position:relative;
	text-align:center
}
.mypage_text{
	width:100%;
	font-family: 'Open Sans', sans-serif;
	color:#363636;
	font-size:40px;
	position:relative;
	padding-top:2.5em;
	text-align:center
}
#mypage_main{
	padding-top:4em;
}
.login_id, .login_pw, .login_pwc, .login_name, .login_nm, .login_email, .login_button, .signin_button, .tohome_button, .tohome_button2, .login_birthday{

	margin-top: 1em;
	padding: 0.58em 1em;
	height:5%;
	border: 1px solid #E7E7E7;
	transition: border-color 0.3s all;
	-webkit-transition: border-color 0.3s all;
	-moz-transition: border-color 0.3s all;
	-o-transition: border-color 0.3s all;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
	color:#777;
	position:relative;
	width:100%;
}
 .login_birthday,.login_gender{
 	margin-top: 4 !important;
 }
.signup_text{
	margin-top: 1em;
	padding :0.3em;
	color:#777;
	font-size:14px;
}
.login_button{
	margin-top:2em;
	height:6%;
}
.signin_button{
	height:6%;
}
.tohome_button{
	margin-top:10em;
	height:6%;
}
.tohome_button2{
	margin-top:0.8em;
	height:6%;
}
.artical-content{
	width:95%;
	margin:0 auto;
}
.single_poster{
	width:20% !important;
	float:left;
	margin-right:50px;
}
.single_content{
	float:left;
}
.story-section, .comment-section{
	padding:3em;
}
.story-section h2, .comment-section h2{
	font:400 30px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-align: left;
	padding: 1em 0 0.5em;
	margin-bottom:1em;
}
.story-section .content{
	color: #363636;
	text-align: left;
	font-size:18px;
}
.sp_title{
	font:400 80px/28px 'Open Sans', sans-serif;
	margin-top:0.5em;
	margin-bottom:1em;
}
.sp_detail{
	font-size:28px !important;
	line-height:1.5em !important;
}
.box{
	position:absolute;
	top:-100px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background: rgba(240, 239, 238, 0.74);
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 1.9em;
	right: 15em;
 }
 #activator {
}
.menu_box_list{
	display:inline-block;
	padding: 2.1em 0;
}
.menu_box_list ul li {
	display: inline-block;
}
.menu_box_list li a{
	display: block;
	color: #363636;
	font-size: 0.875em;
	margin: 0.44em 2em;
	font-weight: 900;
	text-transform: uppercase;
	text-align: left;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.menu_box_list li a:hover{
	color:#B9CB41;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
.boxclose span{
	width:35px;
	height:35px;
	display:inline-block;
	background:url(../images/close2.png) no-repeat 0px 0px;
}
.boxclose span:hover{
	background:url(../images/close2h.png) no-repeat 0px 0px;
}
/*--menu--*/
.menu{
	float: right;
	width: 20%;
	margin-top: 0.7em;
}
.mmenu ul li{
	display:inline-block;
}
.mmenu ul li a span{
	vertical-align: middle;
	margin-left: 0.8em;
	font-size: 1em;
}
.mmenu ul li a{
	color:#8C8C8C;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.mmenu ul li a:hover{
	color:#B9CB41;
}
.mmenu ul li a img{
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	vertical-align:middle;
	
}
/*--//menu--*/
/*----start-post-grids----*/
.add_uninterest span{
	background:url(../images/error2.png) no-repeat 0px 0px;
	height:30px;
	width:30px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.add_uninterest span:hover{
	background:url(../images/error2.png) no-repeat 0px 0px;
}
.add_interest span{
	height:30px;
	width:30px;
	background:url(../images/like2.png) no-repeat 0px 0px; 
	display:inline-block;
}
.add_interest span:hover{
	background:url(../images/like2.png) no-repeat 0px 0px; 
}
.add_wishlist span{
	height:33px;
	width:33px;
	background:url(../images/star.png) no-repeat 0px 0px; 
	display:inline-block;
}
.sadd_uninterest span{
	background:url(../images/error2.png) no-repeat 0px 0px;
	height:30px;
	width:30px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.sadd_interest span{
	height:30px;
	width:30px;
	background:url(../images/like2.png) no-repeat 0px 0px; 
	display:inline-block;
}
.sadd_wishlist span{
	height:33px;
	width:33px;
	background:url(../images/star.png) no-repeat 0px 0px; 
	display:inline-block;
}
.post-basic-info{
	padding: 7% 7% 5% 7%;
}
.post-basic-info h3 a{
	color: #717171;
	font-size: 1.2em;
	margin-bottom: 0.2em;
	display: block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info h3 a:hover{
	color:#B9CB41;
}
.post-basic-info span a{
	color:#ACAAAA;
	font-size:0.9em;
}
.post-basic-info span a label{
	height:12px;
	width:12px;
	display:inline-block;
	background:url(../images/map-pin.png) no-repeat 0px 0px;
	margin-right: 0.4em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info span a:hover{
	color:#B9CB41;
}
.post-basic-info p{
	font-size: 0.875em;
	color: #B7B5B5;
	margin: 0.6em 0;
	line-height: 1.5em;
}
/*--post-info-rate-share--*/
.post-info-rate-share{
	border-top: 1px solid rgba(183, 181, 181, 0.36);
	padding: 4% 0 4%;
}
.add_interest{
	border:0px;
	background-color: rgba(0,0,0,0);
	float:left;
	margin: 0.2em 0 0 1em;
}
.add_wishlist{
	border:0px;
	background-color: rgba(0,0,0,0);
	float:left;
	margin-left: 4.6em !important;
}
.add_uninterest{
	border:0px;
	background-color: rgba(0,0,0,0);
	float:right;
	margin-top:0.2em;
	margin-right:1.5em;
}
.add_interest:focus{
	outline-style:none;
}
.add_wishlist:focus{
	outline-style:none;
}
.add_uninterest:focus{
	outline-style:none;
}
/*--post-info-rate-share at single-page--*/
.spost-info-rate-share{
	border-bottom: 1px solid rgba(183, 181, 181, 0.36);
	padding: 0 0 2%;
	margin-bottom:5%;
}
.sadd_uninterest{
	border:0px;
	background-color: rgba(0,0,0,0);
	float:right;
	margin-top:0.2em;
	margin-right:1.5em;
}
.sadd_interest{
	border:0px;
	background-color: rgba(0,0,0,0);
	float:right;
	margin-top:0.2em;
	margin-right: 2.6em;
}
.sadd_wishlist{
	border:0px;
	background-color: rgba(0,0,0,0);
	float:right;
	margin-right: 2.6em !important;
}
.sadd_interest:focus{
	outline-style:none;
}
.sadd_wishlist:focus{
	outline-style:none;
}
.sadd_uninterest:focus{
	outline-style:none;
}
/*--footer--*/
.footer{
	position:fixed;
	bottom:10px;
	right:15px;
}
.footer p{
	color:#8C8C8C;
	font-size:0.9em;
}
.footer p a{
	color:#B9CB41;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.footer p a:hover{
	color:#8C8C8C;
}
/*----start-single-page----*/
.artical-content h3 a{
	font: 400 28px/28px 'Open Sans', sans-serif;
	color: #626262;
	text-align: left;
	font-weight: 400;
	padding: 0.9em 0 0;
	display: block;
}
.artical-content p{
	font: normal 16px/26px 'Open Sans', sans-serif,Helvetica,sans-serif;
	color: #9b9b9b;
	padding: 17px 0px;
	font-weight: 400;
}
.artical-content img{
	width:100%;
}
/*----share-artical----*/
.share-artical ul li{
	display:inline-block;
	padding-right:10px;
}
.share-artical ul li img{
	vertical-align: text-top;
	padding-right:7px;
}
.share-artical ul li a{
	font: 400 14px/22px  'Open Sans', sans-serif;
	color: #cbcbc3;
	padding-left: 20px;
	font-weight: 400;
}
.share-artical ul li a:hover{
	color:#B9CB41;
}
/*---comment-box----*/
.single-page {
	margin-top: 8em;
	background: #F0EFEE;
	padding:2%;
	padding-right:15% !important;
	padding-left:15% !important;
}
/*----artical-links---*/
.artical-links{
	padding: 10px 0px;
	float: left;
}
.share-artical {
	float: right;
	padding: 10px;
}
.artical-links ul li{
	display:inline-block;
}
.artical-links ul li img{
	vertical-align:middle;
	padding-right:10px;
}
.artical-links ul li a{
	font: 400 14px/22px  'Open Sans', sans-serif;
	color: #cbcbc3;
	padding-left: 20px;
	font-weight: 400;
}
.artical-links ul li a:hover{
	color:#B9CB41;
}
/*----start-comment-section---*/
h4.style1 {
	font: 400 22px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-transform: uppercase;
	padding: 1em 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
h3.style {
	font: 400 13px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-align: left;
	text-transform: uppercase;
	padding: 0.8em 0 0;
}
p.para {
	font-size:1em;
	color: #B7B5B5;
	line-height: 1.8em;
	font-weight: 400;
}
.comment-section{
	width:100%;
	margin 0 auto;
}
.grids_of_1{
	padding:1em;
}
.grids_of_2{
	display: inline-block;
	width:50%;
}
.grids_of_22{
	display: inline-block;
	width:50%;
}
.grids_of_2 h2 {
	font:400 30px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-align: left;
	padding: 1em 0 0.5em;
}
.grid1_of_2{
	margin-top: 0.8em;
}
.grid_img{
	float: left;
	width: 36%;
	margin-right: 4%;
}
.grid_text{
	float: left;
	width:60%
}
.grid_text h3{
	text-align:left;
}
.btn1{
	display: inline-block;
	text-align: left;
	font-size: 0.875em;
	color:#363636;
	line-height: 1.8em;
	padding: 2px 0;
	font-family: 'Open Sans', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	font-weight: 400;
}
.btn1:before{
	content:url('../images/reply.png');
	float:left;
}
.btn1:hover{
	zoom: 1;
	color:#B9CB41;
}
.grid1_of_2.left{
	margin-left: 14%;
}
/*---comment-box----*/
.artical-commentbox {
	margin: 1em 0;
}
.table-form{
	margin: 0em auto;
}
.table-form form input[type="text"]{
	font-family: 'Open Sans', sans-serif;
	border: 1px solid rgba(192, 192, 192, 0.61);
	outline: none;
	padding: 12px;
	color: #333333;
	overflow: hidden;
	width: 30%;
	display: block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.table-form textarea{
	font-family: 'Open Sans', sans-serif;
	padding: 8px;
	outline:none;
	color: #333333;
	border: 1px solid rgba(192, 192, 192, 0.61);
	width:60%;
	height:180px;
	resize: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.table-form form input[type="text"]:hover,.table-form textarea:hover{
	border: 1px solid #B9CB41;
}
.table-form input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
	padding: 0.8em 1.5em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor:pointer;
	font-size: 1em;
	outline:none;
}
.table-form input[type="submit"]:hover{
	color:#B9CB41;
	border: 1px solid #B9CB41;
}
.table-form label{
	display: block;
	margin: 0.4em 0 0.5em;
	font-family: 'Open Sans', sans-serif;
	color:#363636;
	font-weight:100;
}
.table-form div{
	margin:0.5em 0;
}
.table-form div {
	margin: 1em 0;
}
/*----//End-comment-section---*/
/*  Contact Form  */
.contact-info {
	margin-top: 8em;
	padding: 2% 2% 3% 2%;
	background: #fff;
}
.contact form{
	font-family: 'Open Sans', sans-serif;
}
.map{
	margin-bottom:30px;
}
.list3 li>img {
	float: left;
	margin-right:10px;
}
.extra-wrap {
	overflow: hidden;
}
.extra-wrap p {
	color: #626262;
	line-height: 1.8em;
	font-size: 0.85em;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}
span.mail a {
	color:#B9CB41;
}
span.mail a:hover{
	color:#626262;
}
.contact-to input[type="text"] {
	padding: 12px 10px;
	width: 30.66%;
	font-family: 'Open Sans', sans-serif;
	margin: 12px 0;
	border: 1px solid rgba(192, 192, 192, 0.61);
	color: #626262;
	background: #FFF;
	float: left;
	outline: none;
	font-size: 0.85em;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.contact-to input[type="text"]:nth-child(2),.contact-to input[type="text"]:nth-child(3){
	margin-left:10px;
}
.text2 input[type="text"], .text2 textarea {
	width: 97.7%;
	margin: 12px 0;
	border: 1px solid rgba(192, 192, 192, 0.61);
	color: #626262;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	margin-bottom: 25px;
	height: 100px;
	padding: 12px 10px;
	font-size: 0.85em;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.text2 textarea{
	height:180px;
}
.text2 input[type="text"]:hover,.text2 textarea:hover,.contact-to input[type="text"]:hover{
	border: 1px solid #B9CB41;
}
.contact-form input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
	padding: 0.8em 1.5em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor: pointer;
	font-size: 1em;
	outline: none;
}
.contact-form input[type="submit"]:hover{
	color: #B9CB41;
	border: 1px solid #B9CB41;
}
.span_1_of_first1 h5{
	color: #363636;
	text-transform: uppercase;
	font-size: 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.6em;
}
.span_1_of_first1 {
	width: 29.5%;
}
.col_1_of_bottom:first-child {
	margin-left: 0;
}
.col_1_of_bottom {
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.contact-grids {
	margin-bottom: 1em;
}
/*----//End-contact----*/
/*---//End-wrap----*/
